
.container2 {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.box {
  width: 500px;
  height: 400px;
  background-color: whitesmoke;
}

.box2 {
  width: 500px;
  height: 400px;
  background-color: whitesmoke;
  display: flex;
}

.box span {
  color: #002C63;
    font-size: 1.5rem;
    font-weight: 100; 
    margin: 25px;
}

.box .spanValor {
  color: #002C63;
    font-size: 2rem;
    font-weight: 100; 
    margin: 25px;
}


body {
  margin: 0px;
}

.botao {
  background-color: #002C63;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px;
  width: 400px;
}